body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Karma', sans-serif;
}

a {
  text-decoration: none
}

a:hover {
  background-color: #fcd5ce;
}

.header,
.footer {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: #f8edeb;
}

.header a,
.footer a {
  margin: 8px 8px 8px 8px;
  padding: 8px;
  font-size: large;
  color: black;
}

@media screen and (max-width: 375px) {
  .header,
  .footer {
    padding: 8px 0px;
  }
  .header a,
  .footer a {
    margin: 8px 0px;
  }

  .header a:first-child,
  .footer a:first-child {
    margin: 8px 0px;
  }

  .header a:last-child,
  .footer a:last-child {
    margin: 8px 0px;
  }
}

.header a:hover,
.footer a:hover {
  background-color: #fcd5ce;
}

.header a:focus,
.footer a:focus {
  opacity: 0.8;
}

body {
  margin: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}

.image-logo {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 375px) {
  .image-logo {
    width: 150px;
    height: auto;
  }
}
