.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8edeb;
  width: 100%;
  max-width: 1200px;
}

.content-page p {
  font-size: larger;
  text-align: center;
  background-color: #fae1dd;
  padding: 10px;
  width: 100%;
}
