.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8edeb;
  width: 100%;
}

.introduction .intro-section {
  text-align: center;
  width: 800px;
}

.introduction .contact {
  text-align: left;
  width: 800px;
}
